extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to detail 
  else
    - let restaurantid = toShow._id
    - let name = toShow.name
    - let place = toShow.place
    - let bill = toShow.bill
    div
      div.row
        div(class='restaurantAttr mr-3') restaurant ID is:
          div #{restaurantid}
      div.row
        div(class='restaurantAttr mr-3') restaurant name is:
          div #{name}
      div.row
        div(class='restaurantAttr mr-3') restaurant place is:
          div #{place}
      div.row
        div(class='restaurantAttr mr-3') restaurant bill is:
          div #{bill}
